body {
  font-family:sans-serif;
}

.container {
  width:800px;
  margin:auto;
  margin-top:50px;
}

.phone-image {
  width: 440px;
  display: inline-block;
  text-align: center;
}

.signup-form {
  width: 346px;
  display: inline-block;
  float:right;
  text-align: center;

}

.phone-image img {
  width: 400px;
  margin-top: 40px;
}

.image-header img {
  width: 250px;
}

.signup-text {
  width:250px;
  color: #999;
  margin: auto;
  font-size: 18;
  font-weight: bold;;
}

.button {
  background-color: #3897f0;
  display: inline-block;
  width: 80%;
  padding:8px 0px;
  color:white;
  text-decoration:none;
  margin-top:10px;
  font-weight: bold;
  border-radius: 3px;

}
